<form action='/login/attempt' method='post' class="form-inline well" style="text-align:left;">
  <input type="text" name='username' placeholder="Username" autofocus>
  <br>
  <input type="password" name='currentpw' placeholder="Current Password" style="margin-top: 20px;">
  <br>
  <input type="password" name='newpw' placeholder="New Password" style="margin-top: 20px;">
  <br>
  <input type="password" name='newpw2' placeholder="New Password Again">
  <br><br>
  <input class="btn primary" type='submit' value='Change Password'>
</form>